:root {
    --base-font-family: 'Open Sans','Microsoft YaHei','Helvetica Neue',Arial,'Hiragino Sans GB','WenQuanYi Micro Hei',sans-serif;
    --base-font-size: 16px;
    --header-title-font-family: 'Times New Roman';
    --box-border-radius: 20px;
}